* {
  margin: 0px;
  padding: 0px;
}

nav {
  height: 40px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: green;
  text-align: center;
}

a {
  color: yellow;
  text-decoration: none;
  margin: 50px;
  font-weight: bold;
  font-size: larger;
}
